/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    margin: 5%;
    background-color: rgb(240, 211, 216);
    text-align: center;
}

.btn{
    background-color: white;

}